extends layout

block content
 
  img(src="http://192.168.0.28:8080//resources/images/youlovetalk_logo.png" width='250px')
    
  i.fa.fa-plus-square(aria-hidden='true' style='position: absolute; top: 40px; right: 25px; font-size:50px;color:#f2c029;', data-toggle='modal', data-target='#myModal')
  
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header(style="position:relative;")
          div(style="position:absolute; top:15px; right:50px;")  
            span(style="display:inline; position:relative;")
              h5.strong.text-danger(style="display:inline; position:absolute; top:5px; right:-10px;") *　
            h5.text-muted(style="display:inline") 필수 항목 입니다.
          button.close(type='button', data-dismiss='modal', aria-label='Close' id='cancel')
            h4i.fa.fa-window-close(aria-hidden='true')
        .modal-body 
          form(name='sendform' method='post' action='/room' enctype='multipart/form-data')
            label(for="title") * 채팅방 제목
            input.form-control(name='title' type='text' id='title' placeholder='방 제목')
            label(for="max") * 채팅방 인원
            input.form-control(name='max' type='number' id='max' placeholder='인원' min='2' value='5' max='5')
            label(for="password") 패스워드
            input.form-control(name='password' type='password' id='password' placeholder='비밀번호 입력')
            label(for="titleImg") * 채팅방 이미지
            div.filebox.preview-image
              input.upload-name(id='titleImg' name='titleImg' disabled="disabled" placeholder='파일명')
              label(for="input-file") 업로드
              input.upload-hidden(type="file" id="input-file" style='margin:20px;' name='titleImg')
        .modal-footer
          #createRoom.btn.btn-primary(data-dismiss='modal' onclick='javascript:createRoom()') 생성
          
  .container-fluid.h-100
    .row.justify-content-center.h-100
      .col-md-4.col-xl-3.chat
        .card.mb-sm-3.mb-md-0.contacts_card
          .card-header
            .input-group
              form(name='sendform2' method='post' action='/search' style='position:relative; width:100%;')
                input.form-control.search(type='text', placeholder='채팅방을 입력하세요.' style='display:inline-block; width:100%; border-radius:15px !important;' id='searchKeyword' name='searchKeyword')
                span.input-group-text.search_btn(style='display:inline-block; height:100%; position:absolute; top:0; right:0;')
                  .i.fas.fa-search(onclick='javascript:searchKeyword()')
                      
          .contacts_body
            for room in rooms
              ui.contacts
                li.active
                  .d-flex.bd-highlight
                    .img_cont
                      img.rounded-circle.user_img(src='/room/'+room.titleImg)
                      span.online_icon
                    .user_info
                      span= room.title
                      div
                        p= room.password ? '비밀방' : '공개방'
                        -var password = room.password ? 'true' : 'false';
                        span.enter_room
                          p= room.owner
                          p(data-password=password data-id=room._id).join-btn 입장
          .card-footer

  //스크립트 
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://192.168.0.13:8005/room', {
      path: '/socket.io'
    });
    //- socket.on('newRoom', function (data) {
    //-   var ui = document.createElement('ui');
    //-   var li = document.createElement('li');
            
    //-   ui.textContent = data.password ? '비밀방' : '공개방';
    //-   tr.prependChild(td);
      
    //-   td = document.createElement('td');
    //-   td.textContent = data.title;
    //-   tr.prependChild(td);
                  
    //-   td = document.createElement('td');
    //-   td.style.color = data.owner;
    //-   td.textContent = data.owner;
    //-   tr.prependChild(td);
    //-   td = document.createElement('td');
      
    //-   var button = document.createElement('td');
    //-   button.textContent = '입장';
    //-   button.dataset.password = data.password ? 'true' : 'false';
    //-   button.dataset.id = data._id;
    //-   button.addEventListener('click', addBtnEvent);
    //-   td.prependChild(button);
    //-   tr.prependChild(td);
    //-   tr.dataset.id = data._id;
    //-   document.querySelector('table tbody').appendChild(tr);
      
    //- });
    //- socket.on('removeRoom', function (data) {
    //-   document.querySelectorAll('.contacts').forEach(function (li) {
    //-     if (li.dataset.id === data) {
    //-       li.parentNode.removeChild(.d-flex.bd-highlight);
    //-     }
    //-   });
    //- });
    
    //채팅방 입장하는 function
    function addBtnEvent(e) {
      if (e.target.dataset.password === 'true') {//비밀방
        const password = prompt('비밀번호를 입력하세요','');
        location.href = '/room/' + e.target.dataset.id + '?password=' + password;
      } else {//공개방
        location.href = '/room/' + e.target.dataset.id;
      }
    }
         
    document.querySelectorAll('.join-btn').forEach(function (btn) {
      btn.addEventListener('click', addBtnEvent);
    });
    
    function createRoom(){
      sendform.action ='/room';
      sendform.submit();
    }

    //검색하는 function
    function searchKeyword(){
      sendform2.action ='/search';
      sendform2.submit();
    }

    //모달창 닫으면 입력form 초기화 function(왜 안먹지)
    $(document).ready(function(){
      $('#cancel').on('click', function(){
        $(this).find('form')[0].reset();
      });
    });
    
    //업로드하는 파일명만 나오게
    $(document).ready(function(){ 
      $('.filebox .upload-hidden').on('change', function(){ 
        // 값이 변경되면 
        if(window.FileReader){ 
          var filename = $(this)[0].files[0].name;
        } else { 
          var filename = $(this).val().split('/').pop().split('\\').pop(); 
        } // 추출한 파일명 삽입 
        $(this).siblings('.upload-name').val(filename); 
      }); 
    }); 

    //preview image 보이기 
    $('.preview-image .upload-hidden').on('change', function(){ 
      var parent = $(this).parent();
      parent.children('.upload-display').remove();
      if(window.FileReader){
        //image 파일만 들어오게
        if (!$(this)[0].files[0].type.match(/image\//)) 
        return;
        //filereader이용해서 preview 
        var reader = new FileReader();
        reader.onload = function(e){
          var src = e.target.result;
          parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="'+src+'" class="upload-thumb"></div></div>'); } 
          reader.readAsDataURL($(this)[0].files[0]); 
        } else { 
          $(this)[0].select(); $(this)[0].blur(); 
          var imgSrc = document.selection.createRange().text; 
          parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>'); 
          var img = $(this).siblings('.upload-display').find('img'); 
          img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";} 
        });

    




    

    
    
    
    