extends layout

block content
  div(style='position:relative;margin:30px;color:#282c37')
    h1= title
    a#exit-btn(href='/' style='position:absolute;top:0;right:0;')
      i.fas.fa-running(aria-hidden='true' style='font-size:50px;color:#282c37;')
    div(style='position:absolute;top:0px;right:60px;') 참여인원
      #number-count= number
  div(style='margin:10px 30px 10px 30px; border: 3px solid #cbcbcb; padding:30px;')
    fieldset
      #chat-list(style='overflow: auto')
        for chat in chats
          if chat.user === user
            .mine
              .chat_wrap1
                img.rounded-circle(src='http://192.168.0.28:8080/resources/images/profile/' + chat.profile)
                span= chat.user
              if chat.gif
                .chat_wrap2
                  img(src='/gif/' + chat.gif)
                  span= chat.createdAt
              else if chat.mp4
                .chat_wrap2
                  iframe(src='/mp4/' + chat.mp4)
                  span= chat.createdAt
              else
                .chat_wrap2
                  div= chat.chat
                  span= chat.createdAt
          else if chat.user === 'system'
            .system
              div= chat.chat
          else
            //.other(style='color:' + chat.user)
            .other
              .chat_wrap1
                img.rounded-circle(src='http://192.168.0.28:8080/resources/images/profile/' + chat.profile)
                span= chat.user
              if chat.gif
                .chat_wrap2
                  img(src='/gif/' + chat.gif)
                  span= chat.createdAt
              else if chat.mp4
                .chat_wrap2
                  iframe(src='/mp4/' + chat.mp4)
                  span= chat.createdAt
              else
                .chat_wrap2
                  div= chat.chat
                  span= chat.createdAt
  div(style='margin-right:30px;')
    form#chat-form(action='/chat' method='post' enctype='multipart/form-data')
      div
        label(for='mp4')
          i.fa.fa-file(aria-hidden='true' style='font-size:30px;color:#282c37;margin-right:10px;')
          input#mp4(type='file' name='mp4' accept='video/mp4')
        label(for='gif')
          i.fa.fa-image(aria-hidden='true' style='font-size:30px;color:#282c37;')
          input#gif(type='file' name='gif' accept='image/gif')
      input#chat(name='chat' autofocus='')
      button(type='submit') 전송
  
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://192.168.0.13:8005/chat', {
      path: '/socket.io'
    });
    socket.on('join', function (data) {
      document.getElementById("number-count").innerText = data.number;//==>입장시 변경
      var div = document.createElement('div');
      div.classList.add('system');
      var chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    socket.on('exit', function (data) {
      document.getElementById("number-count").innerText = data.number;//==>퇴장시 변경
      var div = document.createElement('div');
      div.classList.add('system');
      var chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });
    socket.on('chat', function (data) {
      var div = document.createElement('div');
      if (data.user === '#{user}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
      }

      //newwwwwwwwwwwwwwwwwwwwww
      var wrap1 = document.createElement('div');
      wrap1.className = 'chat_wrap1';

      // 닉네임
      var name = document.createElement('span');
      name.textContent = data.user;
      wrap1.appendChild(name);

      // 프로필 사진
      var profile = document.createElement('img');
      profile.className = 'rounded-circle';
      profile.src = 'http://192.168.0.28:8080/resources/images/profile/'+data.profile;
      wrap1.appendChild(profile);

      var wrap2 = document.createElement('div');
      wrap2.className = 'chat_wrap2';

      // 채팅 내용
      if (data.chat) {
        var chat = document.createElement('div');
        chat.textContent = data.chat;
        wrap2.appendChild(chat);
      } else if(data.mp4){
        var mp4 = document.createElement('iframe');
        mp4.src = '/mp4/' + data.mp4;
        wrap2.appendChild(mp4);
      } else {
        var gif = document.createElement('img');
        gif.src = '/gif/' + data.gif;
        wrap2.appendChild(gif);
      }
     
      // 전송 시간
      var time = document.createElement('span');
      time.textContent = data.createdAt;
      wrap2.appendChild(time);

      div.appendChild(wrap1);
      div.appendChild(wrap2);
      
      document.querySelector('#chat-list').appendChild(div);
      
      //채팅 내용 append이후 스크롤 최하단으로 이동(채팅 입력시 마다==>이미지는 안먹으니까 그냥 채팅 입력시에만 최하단 고정)
      var scroll = document.getElementById("chat-list");
      scroll.scrollTop = scroll.scrollHeight;

    });
    //채팅 전송 이벤트 리스너
    document.querySelector('#chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.chat.value) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          if (xhr.status === 200) {
            e.target.chat.value = '';
          } else {
            console.error(xhr.responseText);
          }
        };
        xhr.open('POST', '/room/#{room._id}/chat');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ chat: this.chat.value }));
      }
    });
    //채팅 이미지 전송 이벤트 리스너 추가
    document.querySelector('#gif').addEventListener('change', function (e) {
      var formData = new FormData();
      var xhr = new XMLHttpRequest();
      console.log(e.target.files);
      formData.append('gif', e.target.files[0]);
      xhr.onload = function(){
        if(xhr.status === 200){
          e.target.file = null;
        }else{
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/room/#{room._id}/gif');
      xhr.send(formData);
    });

    //채팅 동영상 전송 이벤트 리스너 추가
    document.querySelector('#mp4').addEventListener('change', function (e) {
      var formData = new FormData();
      var xhr = new XMLHttpRequest();
      console.log(e.target.files);
      formData.append('mp4', e.target.files[0]);
      xhr.onload = function(){
        if(xhr.status === 200){
          e.target.file = null;
        }else{
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/room/#{room._id}/mp4');
      xhr.send(formData);
    });

    
    
    