extends layout

block content
  h1(style='margin:10px;') YouLoveTalk

  a(toggle='modal' href='/room' style='position: absolute; top: 20px; right: 20px;' target='#createRoom' role='button')
    i.fa.fa-plus-square(aria-hidden='true' style='font-size:50px;color:#f2c029;' target='#createRoom' role='button' id='plus')
        
  i.fa.fa-plus-square(aria-hidden='true' style='font-size:50px;color:#f2c029;')
 
  //- button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal')  Modal 띄우기
  
  //- #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       .modal-header
  //-         button.close(type='button', data-dismiss='modal', aria-label='Close')
  //-           span(aria-hidden='true')
  //-         h1#myModalLabel.modal-title Modal 제목
  //-       .modal-body  Modal 내용 
  //-       .modal-footer
  //-         button.btn.btn-default(type='button', data-dismiss='modal')
  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') Modal 띄우기
  
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Modal 제목
        .modal-body
          | Modal 내용
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 닫기


  .container-fluid.h-100
    .row.justify-content-center.h-100
      .col-md-4.col-xl-3.chat
        .card.mb-sm-3.mb-md-0.contacts_card
          .card-header
            .input-group
              input.form-control.search(type='text', placeholder='Search...', name='')
              .input-group-prepend
                span.input-group-text.search_btn
                  i.fas.fa-search
          .contacts_body
            for room in rooms
              ui.contacts
                li.active
                  .d-flex.bd-highlight
                    .img_cont
                      img.rounded-circle.user_img(src='http://mblogthumb2.phinf.naver.net/20150427_261/ninevincent_1430122791768m7oO1_JPEG/kakao_1.jpg?type=w2')
                      span.online_icon
                    .user_info
                      span= room.title
                      div
                        p= room.password ? '비밀방' : '공개방'
                        p(style='color:'+ room.owner)= room.owner
                        -var password = room.password ? 'true' : 'false';
                        p(data-password=password data-id=room._id).join-btn 입장
          .card-footer

  //스크립트 
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://192.168.0.13:8005/room', {
      path: '/socket.io'
    });
    socket.on('newRoom', function (data) {
      var tr = document.createElement('tr');
      var td = document.createElement('td');
      
      td.textContent = data.password ? '비밀방' : '공개방';
      tr.appendChild(td);
      
      td = document.createElement('td');
      td.textContent = data.title;
      tr.appendChild(td);
                  
      td = document.createElement('td');
      td.style.color = data.owner;
      td.textContent = data.owner;
      tr.appendChild(td);
      td = document.createElement('td');
      
      var button = document.createElement('td');
      button.textContent = '입장';
      button.dataset.password = data.password ? 'true' : 'false';
      button.dataset.id = data._id;
      button.addEventListener('click', addBtnEvent);
      td.appendChild(button);
      tr.appendChild(td);
      tr.dataset.id = data._id;
      document.querySelector('table tbody').appendChild(tr);
    });
    socket.on('removeRoom', function (data) {
      document.querySelectorAll('tbody tr').forEach(function (tr) {
        if (tr.dataset.id === data) {
          tr.parentNode.removeChild(tr);
        }
      });
    });
    //채팅방 입장하는 function
    function addBtnEvent(e) {
      if (e.target.dataset.password === 'true') {
        const password = prompt('비밀번호를 입력하세요');
        location.href = '/room/' + e.target.dataset.id + '?password=' + password;
      } else {
        location.href = '/room/' + e.target.dataset.id;
      }
    }
    document.querySelectorAll('.join-btn').forEach(function (btn) {
      btn.addEventListener('click', addBtnEvent);
    });       