extends layout

block content
  
  //img(src="http://192.168.0.94:8080//resources/images/youloveplan_logo.png" width='300px')
  //img(src="http://192.168.0.13:8005//public/youlovetalk_logo.png" width='300px')
  img(src="http://192.168.0.13:8080//resources/images/youlovetalk_logo.png" width='300px')
  
  //- a(toggle='modal' href='/room' style='position: absolute; top: 20px; right: 20px;' target='#createRoom' role='button') 생성
  //-   i.fa.fa-plus-square(aria-hidden='true' style='font-size:50px;color:#f2c029;')
  
  i.fa.fa-plus-square(aria-hidden='true' style='position: absolute; top: 60px; right: 25px; font-size:50px;color:#f2c029;', data-toggle='modal', data-target='#myModal')
  
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h3#myModalLabel.modal-title(style='position: absolute; left: 20px;') 채팅방 개설
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            h4i.fa.fa-window-close(aria-hidden='true' id='createCancel')
        .modal-body 
          form(name='sendform' method='post' action='/room')
            label(for="title") 채팅방 제목
            input.form-control(type='text' name='title' id='title' placeholder='방 제목' )
            label(for="max") 채팅방 인원
            input.form-control(name='max' id='max' type='number' placeholder='인원' min='2' value='5' max='5')
            label(for="password") 패스워드
            input.form-control(name='password' type='password' placeholder='비밀번호 입력' id='password')
            //input.form-control(name='nickname' type='hidden' id='nickname' value='#{nickname}')
            //input.form-control(name='nickname' type='hidden' id='nickname' value="req.parm('nickname')")
        .modal-footer
          #createRoom.btn.btn-primary(data-dismiss='modal' onclick='javascript:createRoom()') 생성

  .container-fluid.h-100
    .row.justify-content-center.h-100
      .col-md-4.col-xl-3.chat
        .card.mb-sm-3.mb-md-0.contacts_card
          .card-header
            .input-group
              input.form-control.search(type='text', placeholder='Search...', name='')
              .input-group-prepend
                span.input-group-text.search_btn
                  i.fas.fa-search
          .contacts_body
            for room in rooms
              ui.contacts
                li.active
                  .d-flex.bd-highlight
                    .img_cont
                      img.rounded-circle.user_img(src='http://mblogthumb2.phinf.naver.net/20150427_261/ninevincent_1430122791768m7oO1_JPEG/kakao_1.jpg?type=w2')
                      //img.rounded-circle.user_img(src='http://192.168.0.13:8080//resources/images/profile/'+)
                      span.online_icon
                    .user_info
                      span= room.title
                      div
                        p= room.password ? '비밀방' : '공개방'
                        //- p(style='color:'+ room.owner)= room.owner
                        p= room.owner
                        -var password = room.password ? 'true' : 'false';
                        p(data-password=password data-id=room._id).join-btn 입장
          .card-footer

  //스크립트 
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://192.168.0.13:8005/room', {
      path: '/socket.io'
    });
    socket.on('newRoom', function (data) {
      //- var tr = document.createElement('tr');
      //- var td = document.createElement('td');
      
      //- td.textContent = data.password ? '비밀방' : '공개방';
      //- tr.appendChild(td);
      
      //- td = document.createElement('td');
      //- td.textContent = data.title;
      //- tr.appendChild(td);
                  
      //- td = document.createElement('td');
      //- td.style.color = data.owner;
      //- td.textContent = data.owner;
      //- tr.appendChild(td);
      //- td = document.createElement('td');
      
      //- var button = document.createElement('td');
      //- button.textContent = '입장';
      //- button.dataset.password = data.password ? 'true' : 'false';
      //- button.dataset.id = data._id;
      //- button.addEventListener('click', addBtnEvent);
      //- td.appendChild(button);
      //- tr.appendChild(td);
      //- tr.dataset.id = data._id;
      //- document.querySelector('table tbody').appendChild(tr);
    });
    socket.on('removeRoom', function (data) {
      document.querySelectorAll('tbody tr').forEach(function (tr) {
        if (tr.dataset.id === data) {
          tr.parentNode.removeChild(tr);
        }
      });
    });
    //채팅방 입장하는 function
    function addBtnEvent(e) {
      if (e.target.dataset.password === 'true') {
        const password = prompt('비밀번호를 입력하세요');
        location.href = '/room/' + e.target.dataset.id + '?password=' + password;
      } else {
        location.href = '/room/' + e.target.dataset.id;
      }
    }
    document.querySelectorAll('.join-btn').forEach(function (btn) {
      btn.addEventListener('click', addBtnEvent);
    });
    
    function createRoom(){
      // jQuery 로 수정
      //var title = $('#title').val();      
      //var max = $('#max').val();  
      //var password = $('#password').val();  
        
      //sendform.titleTxt.value  = title;
      //sendform.maxTxt.value  = max;
      //sendform.passwordTxt.value  = password;
      sendform.action ='/room';
      sendform.submit();
    }

    

    
    
    
    